.home-top {
  background-image: url("https://news-pctr.c.yimg.jp/uUzvQ3lML_bkIqyakc1vFs-Knw39CLTsfp6KpenqJJBhANKBkGhD_01Udf30GHWCkplLvuxsRE05OQ9Cnmfri9s0gFuZ3chqEL-ShSWMUYi1SwEajeXzMRHVO5ulRi-FDTLX_jZhPBSy0pHDD2wmww==");
  background-size: cover;
  width: 100vw;
  height: 100vh;
}