.invitation {
  display: flex;
  margin-top: 30px;
  .side {
    width: 20%;
    border-right: 1px solid #efefef;
    padding: 40px;
  }
  .main {
    background-color: #f6f7f8;
    width: 100%;
    padding: 0 40px;
    .invitation-box {
      .recruitment-image {
        width: 250px;
        height: 250px;
        object-fit: cover;
      }
    }
  }
}