.ivent-box {
  display: flex;
  margin-top: 30px;
  height: 1000px;
  .side {
    width: 20%;
    border-right: 1px solid #efefef;
    padding: 40px;
  }
  .main {
    background-color: #f6f7f8;
    width: 100%;
    padding: 0 40px;
  }
}