.message-box {
  display: flex;
  margin-top: 30px;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  height: 1000px;
  .side {
    width: 30%;
    background-color: #f6f7f8;
    border-right: 1px solid #efefef;
    padding: 40px;
    .member {
      height: 50px;
      margin-bottom : 40px;
      .member-image {
        width: 50px;
        height: 50px;
        object-fit: cover;
      }
    }
  }
  .main {
    width: 100%;
    padding: 0 40px;
    .main-top {
      margin-top: 20px;
      height: 80px;
      border-bottom: 1px solid #efefef;
      &__member {
        display: flex;
        &__name {
          display: flex;
          li {
            margin-right: 10px;
          }
        }
      }
    }
    .main-message {
      height: 800px;
      padding: 40px;
      &__box1 {
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 2px;
        text-align: left;
        background-color: #fffacd;
        &__image {    
          width: 50px;
          height: 50px;
          opacity: 80%;
          object-fit: cover;
        }
      }
      &__box2 {
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 2px;
        text-align: right;
        background-color: #efefef;
      }
    }
    .main-bottom {
      display: flex;
      align-items: center;
      padding: 40px;
      height: 100px;
      border-top: 1px solid #efefef;
    }
  }
}

