.message-box {
  display: flex;
  margin-top: 30px;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  height: 1000px;
  .side {
    width: 30%;
    background-color: #f6f7f8;
    border-right: 1px solid #efefef;
    padding: 40px;
    .new-group {
      .make-member-btn {
        height: 40px;
        padding: 8px;
        background-color:	#9AACB8;
        border-radius: 3px;
        color: #fff;
        text-decoration: none;
      }
      .make-member-btn:hover {
        opacity: 50%;
      }
    }
    .member {
      margin-top: 40px;
      margin-bottom : 40px;
      padding: 5px;
      .member-name {
        font-weight: bold;
        color: #9AACB8;
      }
      .member-list {
        display: flex;
        flex-wrap: wrap;
        ul {
          width: 60px;
          height: 60px;
          li {
            font-size: 12px;
          }
          .member-image {
            width: 50px;
            height: 50px;
            object-fit: cover;
          }
        }
      }
      .member-count {
        color: #9AACB8;
        font-size: 12px;
        text-align: right;
      }
      .last-message {
        color: #9AACB8;
        font-size: 12px;
        margin-bottom: 20px;
      }
    }
  }
  .main {
    width: 100%;
    padding: 0 40px;
    .main-top {
      margin-top: 20px;
      height: 80px;
      border-bottom: 1px solid #efefef;
      &__member {
        display: flex;
        &__name {
          display: flex;
          li {
            margin-right: 10px;
          }
        }
      }
    }
    .main-message {
      height: 800px;
      padding: 40px;
      &__box1 {
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 2px;
        background-color: #fffacd;
        margin-bottom: 50px;
        &__info {
          ul {
            li {
              font-size: 12px;
              display: flex;
              text-align: center;
            }
          }
          &__message {
            width: 75%;
            margin-left: 30px;
            display: flex;
            align-items: center;
          }
          &__image {    
            width: 50px;
            height: 50px;
            opacity: 80%;
            object-fit: cover;
          }
          &__trash {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
      &__box2 {
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 2px;
        background-color: #efefef;
        margin-bottom: 50px;
        &__info {
          ul {
            li {
              font-size: 12px;
              display: flex;
              text-align: center;
            }
          }
          &__message {
            width: 75%;
            margin-left: 30px;
            display: flex;
            align-items: center;
          }
          &__image {    
            width: 50px;
            height: 50px;
            opacity: 80%;
            object-fit: cover;
          }
          &__trash {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
    .main-bottom {
      display: flex;
      align-items: center;
      padding: 40px;
      height: 100px;
      border-top: 1px solid #efefef;
      .form-box__message {
        width: 400px;
        padding: 10px;
        border-radius: 3px;
        border: 1px solid #DDE2E3;
        background-color: #efefef;
      }
      .send {
        padding: 10px;
        border: none;
        background-color: #DDE2E3;
        border-radius: 3px;
      }
    }
  }
}

